---
layout: base-simple.njk
---

<div class="hero-section">
  <h1 class="hero-title">About {{ author.name }}</h1>
  
  <div class="author-intro">
    <div class="author-details">
      <div class="author-bio">
        {{ content | safe }}
      </div>
    </div>
  </div>
</div>